.mode {
 
  align-items: center;
  .desktop{

    display: flex;
  }
  .mobile{
    display: none;
  }
  @media only screen and (max-width: 1024px) {
    .desktop{
      
      display: none;
    }
    .mobile{
      display: flex;
      position: absolute;
      top:30px;
      left: 50%;
      transform: translateX(-50%);
      margin-left: 0;
    }
   
  }
  
}
.toggleMode {
  width: 50px;
  height: auto;
  border-radius: 20px;
  height: 30px;
  border: 2px solid wheat;
  position: relative;
  margin-left: 10px;
  &::before {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    background: white;
    border-radius: 20px;
    content: "";
    height: 70%;
    transition: all ease-in 0.3s;
  }

  &.dark::before {
    position: absolute;
    left: 0px;
    background: wheat;
    top: 50%;
    transform: translate(15px, -50%);
    transition: all ease-in 0.3s;
  }
}
