.Admin {
    position: relative;
    @media(max-width:1068px) {
        top: 80px;
   
    }
}

.select{
    background-color: white;
    position: relative;
    @media(max-width:1068px) {
        top: 80px;
   
    }
}

/* add itmem */
.dropdown {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .dropDownButton{
   margin: 20px 0;
  }
  }
  
  .menu {
    
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
  
    border: 1px solid grey;
    width: 300px;
  }
  
  .menu > li {
    margin: 0;
    border: 2px solid black;
    background-color: white;
  }
  
  .menu > li:hover {
    background-color: lightgray;
  }
  
  .menu > li > button {
    width: 100%;
    height: 100%;
    text-align: left;
  
    background: none;
    color: inherit;
    border: none;
    padding: 5px;
    margin: 0;
    font: inherit;
    cursor: pointer;
  }