header {
  z-index: 9999;
  cursor: pointer;
  border-bottom: 2px solid wheat;
 
  height: 80px;

  width: 100%;
  p {
    position: absolute;
    left: 50%;
    translate: -50%;
    font-size: 30px;
  }
  padding: 0 20px;

 
  .burger {
    display: none;
    position: absolute;
    top: 30px;
    left: 30px;

  }
  .cartLink {
    color: white;
  
    
    svg {
      font-size: 30px;
    }
    &.dekstop{
      display: block;
    }
    &.mobile{
      display: none;
    }
    @media only screen and (max-width: 1024px) {
      position: fixed;
      margin: 0;
      top: 30px;
      right: 30px;
      display: none;
  
      position: absolute;
    
      &.mobile{
        display: block;
      }
    }
    position: relative;
    span {
      position: absolute;
      /* width: 12px; */
      /* height: 30px; */
      background: red;
      border-radius: 50%;
      /* line-height: 30px; */
      height: 17px;
      width: 17px;
      font-size: 13px;
      line-height: 17px;
      left: -5px;
      top: -1px;
    }
  }
  @media only screen and (max-width: 1024px) {
    .burger {
      display: block;
    }
    &.active {
      padding: 0;
    }

    &.active {
      nav {
       
        height: 100vh;
        z-index: 9999;
        display: flex;
        padding: 0;
      
      }
    }
    & {
      position: fixed;
      top: 0;
      z-index: 99;
    }

    nav {
      flex-direction: column;
      justify-content: center;
       display:none
    }

    .leftLinks {
      display: flex;
      flex-direction: column;

    }

    nav {
      .auth {
        flex-direction: column;
      }
    }
  }
}


.profileModal{
  position: fixed;
  z-index: 9999;
  width: 100%;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;

  &.open{
    transform: translateX(0%); 
  }
 
  top:0;
  left: 0;
  height: 100vh;
  svg{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .overlay{
    background: black;
    opacity: 0.3;
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 1;
    filter: blur(4px);
  }
  .content{
    display: grid;
    place-items: center;
    text-align: center;
    background: wheat;
    width: 80%;
    height: 100%;
    z-index: 2;
    position: absolute;
    left: 0;
  


  }
}
