.FilterItems {
  margin: 30px 0;
  margin-right: 100px;
  text-align: right;
  margin-bottom: 70px;

  .search {
    border: none;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 300px;
    background: transparent;
    @media(max-width:768px) {
        margin-left: 20px;
    
    }

    &::placeholder {
      color: wheat;
      font-size: 20px;
    }

    &:focus {
      outline: none;
      border: none;
    }
    &:visited {
      outline: none;
    }
  }
}

.itemHeading {
  height: 300px;
  background: wheat;
  color: black;
  line-height: 300px;
  text-align: center;
  margin: 0;
}

.ItemList {
  list-style: none;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  @media(max-width:768px) {
    grid-template-columns:1fr;

}
  border-radius: 10px;
  gap: 50px;
  /* grid-auto-rows: 200px; */

  padding: 0;
  &.light {
    li {
      /* background-color: black; */
      color: wheat;
    }
  }
  li .close svg {
    vertical-align: middle;
  }

  .addToCart,
  .noMore {
    margin: 10px 0;

  }
  .name {
    margin: 30px;
    font-weight: bold;
    font-size: 25px;
  }
  img {
    object-fit: cover;
    height: 250px;
    border-radius: 6px;
    width: 70%;
  }
  .noMore {
    margin: 0;
    color: black;
    padding: 10px;
    border-radius: 6px;
    background: orange;
    cursor: pointer;
  }
  .addToCart {
    background: rgb(16, 16, 206);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
  }
  .itemCard .close {
    margin: 10px;
    font-size: 30px;
    color: red;
    cursor: pointer;
    gap: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
//   .itemCard:hover {
   
//   }
//   .itemCard .close:hover {
//   }
}
